body {
  font-family: 'Montserrat', sans-serif;
  color: #555;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
  min-height: 700px;
  padding: 0;
  margin: 0px;
  background: linear-gradient(to right, rgba(255,255,255,0.5) 0%, rgba(213,218,222,0.5) 100%), url(./images/BG_img_3a.jpg) no-repeat right top;
	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
  -o-background-size: cover;
}

.intro {
  display: table;
}

.intro-text {
  padding-top: 200px;
  padding-bottom: 200px;
  padding-right: 60px;
  padding-left: 80px;
  box-sizing: border-box;
  width: 67%;
  float: left;
  position: relative;
}

.intro-text h1 {
  color: #333;
  font-size: 44px;
  font-family: inherit;
  font-weight: 800;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 10px;
	text-transform: uppercase;
}

.intro-text p {
  box-sizing: border-box;
  color: #444;
  font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: 400;
  margin: 10px 0 20px 0;
}

/* Controls the menu buttons collection */
.main-menu-items {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: row;
  flex-wrap: wrap;
}

.button {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #444;
	background-color: transparent;
	border: 2px solid #444;
	padding: 14px 20px;
	margin: 0;
  font-size: 14px;
  font-weight: normal;
	border-radius: 0;
	margin-top: 20px;
	margin-right: 30px;
  transition: all 0.5s;
  display: inline-block;
  flex-grow: 1;
  flex-basis: 0;
}
.button:active {
  background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.button:hover, .button:focus, .button:active:focus {
  outline: none;
  outline-offset: none;
  color: #eee;
  background-color: #444;
}

.main-menu {
  width: 50%;
  padding: 20px 40px 20px 40px;
  margin: auto;
}



/* Controls the size of the circle */
.circle-container {
  width: 120px;
  height: 120px;
  margin: 20px;
}

/* Draws the actual circle */
.circle-main {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid black;
  margin: 0;
  padding: 0;
}

/* Constrains text area to within the circle */
.circle-text-container {
  /* area constrains */
  width: 70%;
  height: 70%;
  max-width: 70%;
  max-height: 70%;
  margin: 0 auto;
  padding: 0;

  /* centers the text area */
  position: relative;
  top: 15%; 

  transform-style: preserve-3d;
}

/* The actual text within the circle, vertically aligned */
.circle-text {
  font: 17px;
  font-weight: 700;
  text-align: center;

  /* vertical centering */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Styling of the active menu item */
#active-item {
  color: blue;
}

/* Section page - content that comes under the menu */
.section-page {
  width: 50%;
  padding: 20px 40px 20px 40px;
  margin: auto;
  color: grey;
}

/* Controls the introduction page content area, under the lead text */
.intro-content-container {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}


